<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RentalPad</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <a href="https://github.com/FortAwesome/Font-Awesome"><i class="fa fa-github" aria-hidden="true"></i>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm  border-bottom box-shadow mb-3 customenave" style="        background-color: #17A589;">
            <div class="container">
                 <a class="navbar-brand">
                     <img src="/images/logo.png" class="logo1">

                 </a>
                <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">Rentals Pad</a>
                <button class="navbar-toggler text-light" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon text-light" style="color:white"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Rental_Owners" asp-action="index">Owners reg</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Rentals_reg" asp-action="Index">Rentals reg</a>
                        </li> 
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Rooms_reg" asp-action="Index">Rentals reg</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Room_Category" asp-action="Index">Rental category</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Tenants" asp-action="Index">Tenants</a>
                        </li> 

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
                    <div class="card card-1 d-flex ustify-content-center" >

                        <div class="card-body text-center">
                            <img  src="/images/logo.png" style="height:80%;width:60%" alt="First slide">

                            <h5 class="card-title">Best Tenants Management System</h5>
                            <p class="card-text">Be accountable of every single rent payments from your tenants.</p>
                           
                        </div>
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-lg-9 col-xs-9">
                    @RenderBody()

                </div>
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted card card-1 text-center customenave">
        <div class="container">
            &copy; 2020 - RentalPad - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
