@model RentalPad.Models.Rental_Owners

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-1">
    <div class="card-body  text-left">
        <h4>Rental Owners</h4>

        
    </div>
    </div>
<div>
    <hr />
    <div class="card card-1">
        <div class="card-body  text-left">
            <h5><img src="/images/delete.png" class="icons1" alt="" /> &nbsp; | &nbsp;Confirm delete?</h5>
            <div class="row">
                <table class="table">
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Full_names)

                        </td><td>
    @Html.DisplayFor(model => model.Full_names)

</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <form asp-action="Delete">
                                <input type="hidden" asp-for="National_id" />
                                <input type="submit" value="Delete" class="btn btn-danger" /> |
                                <a asp-action="Index" class="btn btn-primary">Back to List</a>
                            </form>

                        </td>
                    </tr>
                </table>
               
              
               
            </div>
        </div></div>
            
           
        </div>
